<section class="index">
  <div class="container">
    <% @articles.each do |article| %>
      <div class="col-md-12 text-center">
        <p><%= article.title %></p>
        <p><%= article.created_at %></p>
        <p><%= article.body %></p>
        <tr>
          <td><%= image_tag article.image.to_s %></td>
        </tr>
      </div>
    <% end %>
  </div>
</section>
