<section class="index">
  <div class="container">
    <% @articles.each do |article| %>
      <div class="col-md-12 text-center">
        <h2 class="title"><%= link_to article.title, article %></p>
        <p><%= article.created_at %></p>
        <p><%= article.body %></p>
        <p><%= image_tag article.image.to_s %></p>
      </div>
    <% end %>
  </div>
</section>
