<div class="container">
  <div class="row">
    <div class="col-12 text-center ">
      <h2 class="display-4 title-before">TAG</h2>
      <p class="text-muted">タグから探す</p>
    </div>
  </div>
  <div class="row">
    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  </div>
</div>