<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <%= link_to image_tag('logo.png', :size => "200x200"), root_path %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="nav justify-content-center text-uppercase">
        <li class="nav-item ">
          <a class="nav-link text-dark active text-muted font-weight-bold" href="#!">column</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark textmuted text-muted font-weight-bold" href="#!">tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark textmuted text-muted font-weight-bold" href="#!">marketing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark textmuted text-muted font-weight-bold" href="#!">design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark textmuted text-muted font-weight-bold" href="#!">life </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark textmuted text-muted font-weight-bold" href="#!">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark textmuted text-muted font-weight-bold" href="#!">contact</a>
        </li>
      </ul>
    </div>
  </div>
 
</section>
